li{
    list-style: none;
    display: flex;
    width: 100%;
}
#cartItem04M .order-list-img{
    width: 30%;
    padding-right: 3%;
}
#cartItem04M .order-list-img img{
    width: 100%;
    height: 67px;
    border-radius: 10px;
}


#cartItem04M .order-list-details{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#cartItem04M .order-list-details h4{
    padding: 0px;
    margin: 0px;
    text-align: left;
    font-weight: 600;
    font-size: 13px;
    margin-bottom: 9px;
}
#cartItem04M .order-list-details h4 small{
    color: #555;
    font-weight: 500;
}
#cartItem04M .order-list-details .qty-buttons{
    position: relative;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    line-height: 20px;
    padding: 3px 10px;
}
#cartItem04M .order-list-details .qty-buttons .qty{
    width: 30px;
    text-align: center;
}
#cartItem04M .order-list-details .qty-buttons input{
    border: none;
    outline: none;
}
.qtyplus, .qtyminus{
    cursor: pointer;
}
.order-list-details .order-list-price{
    height: 30%;
}
.order-list-details .order-list-delete{
    display: block;
    width: 100%;
    height: 70%;
    position: relative;
}
.order-list-details .fa-trash-can{
    position: absolute;
    bottom: 10px;
    right: 0px;
    color: #f25c04;
}





