.InfoItem {
    margin-bottom: 30px;
}

.img-link-item {
    overflow: hidden;
    position: relative;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 180px;
    cursor: pointer;
}
.img-link-item img {
    width: 100%;
    object-fit: cover;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: 0.3s all ease-in-out;
}
.img-link-item:hover img {
    transform: translate(-50%, -50%) scale(1.1);
}
.modal-img {
    text-align: center;
}
.modal-ingredient {
    margin-top: 30px;
}
.modal-description {
    margin-top: 10px;
}
.modal-nutrition {
    margin-top: 30px;
    width: 50%;
    text-align: left;
}

.name-and-size {
    display: inline-block;
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
    background: linear-gradient(to bottom, transparent 5%, black 100%);
}
.text-on-img {
    display: inline-block;
    color: white;
    bottom: 5px;
    font-weight: normal;
    width: 100%;
    padding-left: 15px;
    text-align: left;
}
.text-on-img p{
    font-weight: 500;
    line-height: 1;
    font-size: 13px;
    color: #fafafa;
}

.size-on-img {
    background-color: #f25c04;
    color: #fff;
    display: inline-block;
    position: absolute;
    bottom: 15px;
    right: 15px;
    font-weight: 400;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    padding: 5px 10px;
    line-height: 1;
    font-size: 13px;
    cursor: auto;
}

.button-size {
    background-color: orange;
    padding: 2px;
    border-radius: 5px;
    border: 0;
}

.option-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px;
    margin: 0;
    background: #fff;
    border: 1px solid #ccc;
    border-top: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 2px 2px 0 rgb(9 30 66 / 13%);
}
.select-size {
    display: flex;
    cursor: pointer;
    align-items: center;
}

.bar-size {
    display: flex;
    margin-right: 5px;
}
.select-size span{
    font-size: 14px;
    font-weight: 500;
}
.select-size:hover {
    color: #f25c04;
}
.choose-size {
    display: inline-block;
    width: 80%;
}

select {
    border: 0;
}

.wallet-dollar-cost {
    display: flex;
    gap: 2px;
    align-items: center;
}

.cost span{
    font-weight: 500;
    color: #333;
    font-size: 14px;
}
.add-to-cart {
    margin-left: auto;
    cursor: pointer;
}
.add-to-cart:hover {
    color: #f25c04;
}
.space50px {
    margin: 50px;
}
.img-link-item .red {
    background-color: #e54750;
    left: 15px;
    top: 15px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;
    position: absolute;
    border-radius: 5px;
    padding: 6px 8px 4px 8px;
    line-height: 1;
    font-size: 11px;
    letter-spacing: 1px;
}
#img_info{
    height: 25vh;
    border-radius: 10px
}